/* header */
.logo {
    text-decoration: none;
}

.logo-web {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.menu-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.menu-link:hover,
.menu-link:focus {
    color: #4D5AE5;
}

.contacts {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts:hover,
.contacts:focus{
    color: #4D5AE5;
}

.contacts {
    text-decoration: none;
}

/* main */

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color:#2E2F42
}

.modal-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    cursor:pointer;
    color: #ffffff;
    background: #4D5AE5;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF ;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.menu-list {
    list-style: none;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.photo-list {
    list-style: none;
}

/* portfolio */
.filter-btn-list {
    list-style: none;
}

.filter-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor:pointer;
    background: #F4F4FD;
    color: #4D5AE5;
}

.filter-btn:hover,
.filter-btn:focus {
    background: #4D5AE5;
    color: #FFFFFF;
}

.images {
    list-style: none;
}
